<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
		<h2>Actuators</h2>
		<h3> Status </h3>
		     RED LED ==>  {{ ledRed  }}
		<br>
		<h3> Commands </h3>
			Etch-A-Sketch Control ==> 
			<a href="/leftButton/on" class="button">LEFT</a>  
			<a href="/rightButton/off"class="button">RIGHT</a>
			<a href="/upButton/off"class="button">UP</a>
			<a href="/downButton/off"class="button">DOWN</a>
			<a href="/shakeButton/off"class="button">SHAKE</a>
			<a href="/exitButton/off"class="button">EXIT</a>

   </body>
</html>

